<h1>Thread: {{currentThread.title}}</h1>
<h4>{{currentThread.content}}</h4>
---
<h3>Replies:</h3>

{{#each currentThread.answers}}
<p>{{this.content}}</p>
<h5>User: {{this.user}}</h5>
{{/each}}

<form action="/thread/:idx" id="answer" method="post">
  <input type="hidden" name="id" value={{currentThread._id}}>
  <p>Reply:</p>
  <textarea name="content" form="answer" rows="10" cols="40"></textarea>
  <input type="submit">
</form>
